body {
  font-family: 'Open Sans', sans-serif;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: -1;
}
.App {
  background-color: rgba(255, 255, 255, 0.5);
}
.container {
  display: flex;
  justify-content: center;
}
button {
  margin-left: 50px;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  background-color: transparent;
}
.icons {
  width: 30px;
  vertical-align: middle;
}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  margin-left: 0px;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
}

.cont {
text-align: center;
}

.item {
  padding: 10px;
  margin: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  }

li:hover {
  background: #d0e8ec6e;
}